.map {
    padding: 0 0 80px 0;

    &__map {
        width: 100%;
        min-height: 495px;
        background-color: sandybrown;
        background-image: url('../img/map.jpg');
        background-position: center -20px;
        background-repeat: no-repeat;
        background-size: auto;
        position: relative;
    }
    
    &__info {
        position: absolute;
        top: 148px;
        left: 574px;
        padding: 40px 50px;

        img {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
        }

        h3, p, a {
            position: relative;
            z-index: 1;
        }

        h3 {
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 2px;
        }

        p {
            font-size: 14px;
            line-height: 18px;
            max-width: 210px;
            margin-bottom: 10px;
        }

        a {
            font-size: 14px;
            line-height: 18px;
            color: $red;
            border-bottom: 1px solid $red;
        }
    }

    iframe {
        margin-bottom: -5px;
    }
}

@media(max-width: $breakpoint) {
    .map {
        padding-bottom: 35px;

        .wrapper {
            padding: 0 40px;
        }

        iframe {
            height: 250px;
        }

        &__map {
            min-height: 250px;
        }

        &__info {
            top: 30px;
            left: 305px;
        }
    }
}