/* fonts */
$formular: "Formular", "Arial", sans-serif;

/* colors */
$grayLight: #8F95AC;
$blackLight: #2C2E3E;
$blackDark: #1E2030;
$white: #FFFFFF;
$red: #FF2D23;

/* other */
$wrapper: 1260px; //1220 + 20 + 20;
$breakpoint: 1259px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
